.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & > label {
    margin-left: 2px;
    font-size: 1.2rem;
    color: var(--off-white);
    letter-spacing: 1px;
  }

  & > input {
    border: 1px solid var(--grey-light);
    padding: 0.5rem 1rem;
    color: var(--off-white);
    border-radius: var(--border-radius-small);
    background-color: transparent;

    &:focus {
      border: 1px solid var(--off-white);
      outline: none;
    }
  }
}
