:root {
  /* COLORS */
  --off-white: #dbdbdb;
  --grey-light: #8b8b8b;
  --grey-main: #474747;
  --primary-light: #3f414e;
  --primary-main: #353541;
  --accent-light: #1976d3;
  --accent-main: #176ec4;

  /* OTHER */
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-large: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 62.5%;
  background: var(--primary-main);
}

main {
  padding: 2rem;
  color: var(--off-white);
  font-size: 2rem;
}

a {
  color: var(--off-white);
  text-decoration: none;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__message {
    max-width: 60%;
  }
}

.not-found-page {
  margin-top: 4rem;
  text-align: center;

  &__code {
    font-size: 16rem;
    letter-spacing: 2px;
    font-weight: bold;
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__link {
    padding: 1rem 2rem;
    font-size: 18px;
    background-color: var(--accent-main);
    border-radius: var(--border-radius-medium);
    color: var(--off-white);
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: var(--accent-light);
    }
  }
}
