@import "../../../../../app/breakpoints.scss";

.category-product {
  --border-width: 2px;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 325px;
  border: 2px solid transparent;
  border-radius: var(--border-radius-medium);
  color: var(--off-black-main);
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  &--with-hover {
    overflow: hidden;
  }

  &--with-hover:hover {
    border: 2px solid var(--accent-light);
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 1rem;
    aspect-ratio: 1/1;
    align-self: center;
  }

  & > &__title {
    font-size: 1.4rem;
    padding: 0 1rem;
    margin-bottom: 3rem;
  }

  &__price {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--accent-main);
    padding: 5px;
    font-size: 1.5rem;
    color: var(--off-white);
    border-top-left-radius: var(--border-radius-medium);
    letter-spacing: 1px;
  }
}
